/* Add CSS Styling */
.red-background {
  background-color: #ffb6c1;
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#blue-important {
  color: rgb(0, 0, 255);
  font-size: 36px;
}

.red-cooler {
  font-size: 24px;
}

#green-another {
  background-color: hsl(120, 73.4%, 74.9%);
  font-size: 24px;
  font-weight: bold;
}

